<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <script src="vendor/jquery/jquery.min.js"></script>
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">회원가입</h1>
                            </div>
                            <form class="user" th:action="@{/register}" method="post">
<!--                                <div class="form-group row">-->
<!--                                    <div class="col-sm-6 mb-3 mb-sm-0">-->
<!--                                        <input type="text" class="form-control form-control-user" id="exampleFirstName"-->
<!--                                            placeholder="First Name">-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-6">-->
<!--                                        <input type="text" class="form-control form-control-user" id="exampleLastName"-->
<!--                                            placeholder="Last Name">-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="userId" name="userId"
                                        placeholder="아이디">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="userPw" name="userPw"
                                           placeholder="비밀번호">
                                </div>
<!--                                <div class="form-group row">-->
<!--                                    <div class="col-sm-6 mb-3 mb-sm-0">-->
<!--                                        <input type="password" class="form-control form-control-user"-->
<!--                                            id="exampleInputPassword" placeholder="Password">-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-6">-->
<!--                                        <input type="password" class="form-control form-control-user"-->
<!--                                            id="exampleRepeatPassword" placeholder="Repeat Password">-->
<!--                                    </div>-->
<!--                                </div>-->
                                <button type="submit" class="btn btn-primary btn-user btn-block" id="registerForm">
                                    Register Account
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        $("#registerForm").click(function() {
            console.log("## wow ##");
        })
    </script>
</body>

</html>